@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Archivo', sans-serif;
    @apply tracking-wide;
  }
  a {
    @apply no-underline;
  }
  a:focus {
    @apply outline-none;
  }
  a:focus-visible {
    @apply focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }
}

@layer components {
  .stack {
    @apply flex flex-col;
  }

  .prose-config {
    @apply prose dark:prose-invert md:prose-lg;
    @apply prose-h1:leading-normal prose-h2:leading-normal;
  }

  .font-accent {
    @apply font-bold;
  }

  .comic-box {
    @apply rounded-sm border-2 border-primary-900 bg-neutral-50 p-2 dark:bg-neutral-900;
  }

  .comic-box-transparent {
    @apply rounded-sm bg-neutral-50/80 p-2 dark:bg-neutral-900/80;
  }

  .box-story {
    @apply flex flex-col items-center justify-center gap-4 space-y-4 p-8;
  }

  .inherit {
    display: inherit;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-section {
    @apply flex w-full flex-wrap gap-2 py-1;
  }

  .list-items {
    @apply list-disc pl-4;
  }

  .scroll-area-corner {
    @apply bg-primary-800/20;
  }

  .scroll-area-scrollbar {
    @apply flex touch-none select-none bg-primary-800/20 p-[2px] transition-all duration-200 ease-out hover:bg-primary-800/30;
  }

  .scroll-area-scrollbar[data-orientation='vertical'] {
    @apply w-3;
  }

  .scroll-area-scrollbar[data-orientation='horizontal'] {
    @apply h-3 flex-col;
  }

  .scroll-area-thumb {
    @apply relative flex-1 cursor-pointer rounded-base bg-primary-900;
  }

  .scroll-area-thumb::before {
    @apply absolute top-1/2 left-1/2 h-full min-h-[50px] w-full min-w-[50px] translate-x-1/2 translate-y-1/2;
    content: '';
  }
}
